/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
        background-image: url('../Fotos/reno.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Fijar la imagen de fondo para que se desplace con el contenido */
        background-size:cover;


    }

nav {
    background-color: #43B763;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    height: 50px; /*Tamaño del logo*/
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


.btn-login{
    background-color: #65D103;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-register{
    background-color: #65D103;
    color: white;
    border: none;
    width: 137px;
    padding: 10px 30px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* Banner */
.green-box{
    width: 588px;
    height: 483px;
    margin-left: 90px;
    flex-shrink: 1;
    background: #65D103;
    display: flex;
}
.head-text{
    color: #FFF;

    text-align: center;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-top: 20px;
}
.body-text{
    color: #FFF;
    text-align: center;
    font-family: SF PRO;
    font-size: 24px;
    margin-top: 30px;
    padding: 30px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
}

.blue-box{
    display: flex;
    width: 195px;
    height: 84px;
    margin-left: 190px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    flex-shrink: 0;
    background: #2E1574;
    border-radius: 4px;
}
.contact{
    color: #FFF;
    background-color: transparent;
    font-family: SF Pro;
    border: none;
    font-size: 30px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* Servicios */
.invibox{
    background:transparent;
    display: flex;
    width: 793px;
    height: 483px;
    flex-shrink: 0; 
  
}
/* Estilos para pantallas medianas */
@media screen and (max-width: 900px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .btn {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
}




 /* Estilo del pie de pagina */
 footer {

    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: #43B763;
    font-size: 14px;
    position:fixed;
  }
  
  footer a {
    text-decoration: underline;
    margin: 0 18px;
    color: white; /* Cambia el color según tu diseño */
  }
